$black: #363839;
$lightgray: #9c9e9f;
// $gray: #fc76a1;
$white: #fff;
// $green: #fc76a1;

#todo_checkbox {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: $black;
  border: 1px solid;
  background-color: transparent;
  border-width: 4px;
  border-radius: 0.75rem;
  appearance: none;
  outline: 0;
  // cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 3px;
    left: 8px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $white;
    // border-color: $green;
    background: "";
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

label.todo_label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  // font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
  &::before {
    position: absolute;
    content: attr(data-content);
    color: transparent;
    font-family: "Inter";
    margin-left: 1rem;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    text-decoration-color: white;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
